* {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.full {
  position: relative;
  width: 100%;
}
.TGTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 40px 80px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.TGTLeft {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
  width: 50px;
}
a {
  color: black;
}
.industry {
  font-family: cursive;
  letter-spacing: 3px;
}

.TGTRight {
  position: relative;
}

.BackCounter {
  width: 23px;
  height: 23px;
  background-color: rgb(181, 118, 3);
  border-radius: 50px;
  position: absolute;
  right: -8px;
  top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.top {
  margin: 100px 80px;
}
.top h3 {
  color: rgb(3, 88, 88);
  font-size: 28px;
}

.middle {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.middleLeft {
  width: 20%;
  height: 100px;
  padding-left: 80px;
  line-height: 2;
  color: rgb(1, 93, 93);
  font-size: 20px;
}
.middleRight {
  width: 75%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.search {
  width: 150px;
  height: 40px;
  border-radius: 15px;
  margin-left: 20px;
}
.search::placeholder {
  color: rgb(2, 134, 134);
  padding-left: 15px;
}

.par {
  cursor: pointer;
}

.block {
  width: 300px;
  height: 250px;
  border: 2px solid rgba(128, 128, 128, 0.208);
  cursor: pointer;
}
.backimg {
  width: 100%;
  height: 70%;
  background-color: black;
}

.imgss {
  width: 100%;
  height: 100%;
}

.bottomBL {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}



.backmodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  display: block;
  z-index: 999;
  transition: 0.5s ease;
}

.modal {
  position: absolute;
  width: 30%;
  max-width: 600px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  right: 0;

  border: 2px solid black;
  padding-bottom: 20px;
}


.prods{
  width: 90%;
  margin: auto;
  height: 520px;
  background-color: aqua;
}

.tovar{
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  background-color: brown;
  border: 1px solid rgba(89, 89, 91, 0.655);
}

.leftT{
  width: 130px;
  height: 100%;
}
.middleT{
  width: 200px;
  height: 100%;
}
.how{
  display: flex;
}