* {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body{
  position: relative;
}
.topG {
  width: 100%;
  height: 100vh;
  background-image: url("img/Rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.TGTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 40px 80px;
  position: sticky;
  top: 0;
}

.TGTLeft {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
  width: 50px;
}
a {
  color: rgb(188, 187, 187);
}
.industry {
  font-family: cursive;
  letter-spacing: 3px;
}

.TGCenter {
  color: white;
  padding: 120px 80px;
}
.TPAR {
  font-size: 100px;
  font-family: cursive;
}

.show {
  width: 200px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 2px solid rgb(172, 172, 172);
  cursor: pointer;
  font-size: 20px;
  margin-top: 30px;
}

.TGTRight {
  position: relative;
}

.BackCounter {
  width: 23px;
  height: 23px;
  background-color: rgb(181, 118, 3);
  border-radius: 50px;
  position: absolute;
  right: -8px;
  top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom{
    width: 100%;
    height: 100vh;
}
.Products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    width: 75%;
    margin: auto;
    padding-top: 50px;
    
}

.block{
    width: 350px;
    height: 350px;
    border: 2px solid rgba(128, 128, 128, 0.208);
}
.backimg{
    width: 100%;
    height: 70%;
    background-color: black;
}

.imgss{
    width: 100%;
    height: 100%;
}

.bottomBL{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.BTop{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding-top: 50px;
}

.BBottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}
.all{
    width: 200px;
    height: 40px;
    cursor: pointer;
    background-color: rgb(217, 142, 2);
    color: white;
    font-weight: 700;
    border: 1px solid white;
}