*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topG{
    width: 100%;
    height: 100vh;
    background-image: url('img/Rectangle.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.TGTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 40px 80px;
}

.TGTLeft{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
    width: 50px;
}
a{
    color: rgb(188, 187, 187);
}
.industry{
    font-family: cursive;
    letter-spacing: 3px;
}

.TGCenter{
    color: white;
    padding: 120px 80px;
}
.TPAR{
    font-size: 100px;
    font-family: cursive;
}

.show{
    width: 200px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 2px solid rgb(172, 172, 172);
    cursor: pointer;
    font-size: 20px;
    margin-top: 30px;
}